dtd/common.dtd

<!--
 ************************************************************************************************
 * 
 * Phoebius Framework
 * 
 ************************************************************************************************
 * 
 * Copyright notice
 * 
 ************************************************************************************************
-->

<!ENTITY % html.class "b|i|u|s" >
	<!ELEMENT b (#PCDATA)*>
	<!ELEMENT i (#PCDATA)*>
	<!ELEMENT u (#PCDATA)*>
	<!ELEMENT s (#PCDATA)*>

<!ENTITY % parsable.class  "#PCDATA|ul|ol|link|code|file|%html.class;">

	<!ELEMENT ul (%parsable.class;|li)*>
	<!ELEMENT ol (%parsable.class;|li)*>
		<!ELEMENT li (%parsable.class;)*>

	<!--
		"to" may be:
		 - link to xml documentation file
		 - link to PHP class or method (using doxy notation)
		 - link to any other location
	-->
	<!ELEMENT link (%parsable.class;)*>
	<!ATTLIST link
		to			CDATA #REQUIRED
	>
	
	<!ELEMENT code (#PCDATA)*>
	<!ATTLIST code
		lang		(php|plain) "php"
		type		(inline|pre) "inline"
		title		CDATA #IMPLIED
	>
	
	<!ELEMENT file EMPTY>
	<!ATTLIST file
		lang		(php|plain) "php"
		title		CDATA #IMPLIED
		path		CDATA #REQUIRED
	>

