dtd/common.dtd

<!--
 ************************************************************************************************
 * 
 * Phoebius Framework
 * 
 ************************************************************************************************
 * 
 * Copyright notice
 * 
 ************************************************************************************************
-->

<!ENTITY % parsable.class  "link|code|file">

<!--
	"to" may be:
	 - link to xml documentation file
	 - link to PHP class or method (using doxy notation)
	 - link to any other location
-->
<!ELEMENT link (#PCDATA)*>
<!ATTLIST link
	to			CDATA #REQUIRED
>

<!ELEMENT code (#PCDATA)*>
<!ATTLIST code
	lang		(php|plain) "php"
	pre			(true|false) "true"
	title		CDATA #IMPLIED
>

<!ELEMENT file EMPTY>
<!ATTLIST file
	lang		(php|plain) "php"
	pre			(true|false) "true"
	title		CDATA #IMPLIED
	path		CDATA #REQUIRED
>

