dtd/document.dtd

<!--
 ************************************************************************************************
 * 
 * Phoebius Framework
 * 
 ************************************************************************************************
 * 
 * Copyright notice
 * 
 ************************************************************************************************
-->

<!ENTITY % common SYSTEM "common.dtd">
<!ENTITY % index SYSTEM "index.dtd">

%common;

<!ELEMENT document (
	title, 
	abstract?, 
	(chapters|contents), 
	authors?, 
	version?,
	refs*
)>

	<!ELEMENT title (#PCDATA)*>
	
	<!ELEMENT abstract (#PCDATA)*>
	
	<!ELEMENT contents (p|title)*>
		<!ELEMENT p (%parsable.class;)*>
	
	<!ELEMENT chapters (chapter)*>
		<!ELEMENT chapter (title|body)*>
			<!ELEMENT body (title|p)*>
	
	<!ELEMENT authors (author)*>
		<!ELEMENT author (#PCDATA)*>
		<!ATTLIST author
			title			CDATA "Author"
		>
	
	<!ELEMENT version (#PCDATA)*>
	
	<!ELEMENT refs ((doc|ref)*|index)>
		<!ELEMENT ref (#PCDATA)*>
		<!ATTLIST ref
			name			CDATA #REQUIRED
			link			CDATA #REQUIRED
		>
		
		<!ELEMENT doc (#PCDATA)*>
		<!ATTLIST doc
			name			CDATA #IMPLIED
			file			CDATA #REQUIRED
		>
		
		<!-- path to index xml file that implements dtd/index.dtd -->
		<!ELEMENT index EMPTY>
		<!ATTLIST index
			path			CDATA #REQUIRED
		>

