dtd/ns.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Introduce branches -->

<!ELEMENT namespaces (ns)*>

	<!ELEMENT ns (about?, includes?)>
	<!ATTLIST ns
		id				CDATA #REQUIRED
		name			CDATA #IMPLIED
		group			CDATA #IMPLIED
		version			CDATA #IMPLIED
	>
	
		<!ELEMENT about (#PCDATA)*>
		
		<!ELEMENT includes (ns)*>